# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Misc
.DS_Store
*.swp
*~
xcuserdata/

# API Key
StreamScout/Config.swift
